@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap');
/* font-family: 'Cabin Sketch', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
/* font-family: 'Syne Mono', monospace; */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
/* font-family: 'Ubuntu', sans-serif; */

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Syne Mono', monospace;
    font-size: 100%;
    background-color: rgba(0, 0, 0, 0.884);
}


h1 {
    font-size: 2rem;
}

h2 {
    font-size: 2.5rem;
    margin: 2rem;
}

p {
    font-size: 1.5rem;
}


.heading{
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 4rem;
    text-align: center;
    color:  #FCE29D;
    margin: 3rem;
    margin-bottom: 0;
}

.heading img{
    opacity: 0.9;
    width: 200px;
    z-index: -999;
    border-radius: 2rem;
    margin: 2rem;
    margin-top: 0;
}

.grid-container {
    max-width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    gap: 20px;
    margin-bottom: 20px;
}

.container-left {
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

input [type=number]{
    font-family: inherit;
    padding: 20px;
    margin: 10px;
    box-sizing: border-box;
}

.top {
    background-color: rgba(161, 29, 42)
}

.bottom {
    background-color: rgba(237, 185, 55);
    grid-row: 2;
}


.container-right {
    padding: 20px;
    grid-row: 1 / span 2;
    background-color: rgb(141, 141, 141);
    border-radius: 20px;
}

@media (max-width: 1000px){
    .grid-container {
        max-width: 100%;
        grid-template-columns: 1fr;
    }
    .container-right {
        grid-row: auto;
    }
}

.credits{
    margin: 2rem;
    right: 0;
    position: absolute;
    color: #FCE29D;
    font-size: 1rem;
}

.credits a{
    color: #FCE29D;
}
